<md-dialog aria-label="Add a new device">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add a new device</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon style="color:#fff;" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Adding a new device to the system</h2>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm >
            <label>Device Model</label>
            <md-select required  name="device_model_id" ng-model="device.device_model_id">
              <md-option ng-repeat="device_model in service.device_models" ng-value="device_model.id">
                {{device_model.name}}
              </md-option>
            </md-select>
            <div ng-messages="device_model_id.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Color</label>
            <input required name="color" ng-model="device.color">
            <div ng-messages="color.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Capacity (GB)</label>
          <input required name="capacity" type="number" ng-model="device.capacity">
          <div ng-messages="capacity.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>OS Version</label>
          <input required name="os_version" ng-model="device.os_version">
          <div ng-messages="os_version.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
    </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="addDevice(device)">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
